<!DOCTYPE html>
<html lang="en" data-theme="pastel">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='output.css') }}">
    
    <script src="{{ url_for('static', filename='flowbite.js') }}"></script>
    
    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
    
    {% block head %}{% endblock %}
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>