<aside class="w-64" aria-label="Sidebar">
	<div
		class="overflow-y-auto py-4 px-3 bg-white dark:bg-gray-800 border-r-2 border-r-slate-300 box-border h-screen"
	>
		<ul class="space-y-2">
			<li>
				<a
					href="#"
					class="flex items-center p-2 text-base font-normal text-gray-900 rounded-full hover:text-purple-800 hover:bg-gray-100 group"
				>
					<svg
						aria-hidden="true"
						class="w-6 h-6 text-gray-500 transition duration-75 group-hover:text-purple-800"
						fill="currentColor"
						viewBox="0 0 20 20"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"></path>
						<path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"></path>
					</svg>
					<span class="ml-3">Dashboard</span>
				</a>
			</li>
			<li>
				<a
					href="#"
					class="flex items-center p-2 text-base font-normal text-gray-900 rounded-full hover:text-purple-800 hover:bg-gray-100 group"
				>
					<span
						class="iconify w-6 h-6 text-gray-500 transition duration-75 group-hover:text-purple-800"
						data-icon="mdi:account-multiple"
					></span>

					<span class="ml-3">Pengguna</span>
				</a>
			</li>
			<li>
				<button
					type="button"
					class="flex items-center p-2 w-full text-base font-normal text-gray-900 rounded-full transition duration-75 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"
					aria-controls="dropdown-example"
					data-collapse-toggle="dropdown-example"
				>
					<span
						class="iconify flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 group-hover:text-purple-800 group"
						data-icon="mdi:food"
					></span>

					<span
						class="flex-1 ml-3 text-left whitespace-nowrap"
						sidebar-toggle-item
						>Makanan</span
					>

					<span class="iconify w-6 h-6" data-icon="mdi:chevron-down"></span>
				</button>
				<ul id="dropdown-example" class="hidden py-2 space-y-2">
					<li>
						<a
							href="#"
							class="flex items-center p-2 pl-11 w-full text-base font-normal text-gray-900 rounded-full transition duration-75 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"
							>Bahan Makanan</a
						>
					</li>
					<li>
						<a
							href="#"
							class="flex items-center p-2 pl-11 w-full text-base font-normal text-gray-900 rounded-full transition duration-75 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"
							>Menu Makanan</a
						>
					</li>
					<li>
						<a
							href="#"
							class="flex items-center p-2 pl-11 w-full text-base font-normal text-gray-900 rounded-full transition duration-75 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"
							>Camilan</a
						>
					</li>
				</ul>
			</li>
			<li>
				<a
					href="#"
					class="flex items-center p-2 text-base font-normal text-gray-900 rounded-full hover:text-purple-800 hover:bg-gray-100 group"
				>
					<span
						class="iconify w-6 h-6 text-gray-500 transition duration-75 group-hover:text-purple-800"
						data-icon="mdi:blender"
					></span>
					<span class="ml-3">Generate Menu Diet</span>
				</a>
			</li>
			<li>
				<a
					href="#"
					class="flex items-center p-2 text-base font-normal text-gray-900 rounded-full hover:text-purple-800 hover:bg-gray-100 group"
				>
					<span
						class="iconify w-6 h-6 text-gray-500 transition duration-75 group-hover:text-purple-800"
						data-icon="mdi:weight-lifter"
					></span>
					<span class="ml-3">Tingkat Aktivitas</span>
				</a>
			</li>
		</ul>
	</div>
</aside>
